//---------------------ESTILOS FOOTER----------------------------//

/* Estilos para el pie de p치gina */
footer {
  // font-family: 'Times New Roman', Times, serif;
  background-color: transparent;
  font-size: x-small;
  padding: 10%;
  //border-radius: 30px;
  color: rgb(119, 0, 255);
  margin: 0;
  width: 30%;
}

/* Estilos para los elementos del pie de p치gina */
.footerElements {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Estilos para los enlaces en el pie de p치gina */
.linksFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5rem;
}

/* Estilos para los elementos de lista en el pie de p치gina */
.linksFooter div {
  list-style: none;
}
 
//---------------------LINKS FOOTER---------------------//

 footer a:link {
  color: black;
}

footer a:visited {
  color: black;
}

